@import "tailwindcss";

@theme {
    --font-sans: "Outfit", sans-serif;
    --font-serif: "Playfair Display", serif;
}

/* Cursor animation */
.cursor {
  display: inline-block;
  width: 3px;
  height: 1em;
  background-color: #22c55e;
  margin-left: 6px;
  animation: blink 1s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}


@layer utilities {
    .text-shadow-sm {
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    }

    .text-shadow-lg {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    }
}

/* Custom Animations */
@keyframes fade-in-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in-up {
    animation: fade-in-up 0.8s ease-out forwards;
}